<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <center>
    <h1>Register New RawDealer</h1>
    <form action="admin/setRawdealer" method="POST">
        Company Id :<input type="text" name="companyID" placeholder="Comapany ID No." required />
        <br /><br />
        Company Name :<input type="text" name="companyName" placeholder="Comapany Name" required />
        <br /><br />
        Email :<input type="email" name="email" placeholder="Email" required />
        <br /><br />
        Phone :<input type="text" name="phone" placeholder="Phone Number" required />
        <br /><br />
       Company Address : <input type="text" name="companyAddress" placeholder="Comapany Address" required />
        <br /><br />
        State :<input type="text" name="state" placeholder="State" required />
        <br /><br />
        Place :<input type="text" name="place" placeholder="Place" required />
        <br /><br />
        PinCode :<input type="text" name="pincode" placeholder="Pin Code" required />
        <br /><br />
        Licence No :<input type="text" name="licenceNo" placeholder="Licence Number" required />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
      <br /><br /><br />
    <h1>Search RawDealer</h1>
      <form action="admin/getRawdealer" method="GET">
        Search Company By ID :<input type="text" name="companyID" placeholder="Company ID" />
        <input type="submit" value="Search" />
      </form>

      <br><br><br><br>
      <h1>Register New Manufacturer</h1>
      <form action="admin/setManufacturer" method="POST">
          Company ID:<input type="text" name="companyID" placeholder="Comapany ID No." required />
          <br /><br />
          Company Name:<input type="text" name="companyName" placeholder="Comapany Name" required />
          <br /><br />
          Email :<input type="email" name="email" placeholder="Email" required />
          <br /><br />
          Phone :<input type="text" name="phone" placeholder="Phone Number" required />
          <br /><br />
          Company Address:<input type="text" name="companyAddress" placeholder="Comapany Address" required />
          <br /><br />
          State :<input type="text" name="state" placeholder="State" required />
          <br /><br />
          Place :<input type="text" name="place" placeholder="Place" required />
          <br /><br />
          PinCode :<input type="text" name="pincode" placeholder="Pin Code" required />
          <br /><br />
          Licence No:<input type="text" name="licenceNo" placeholder="Licence Number" required />
          <br /><br />
          <input type="submit" value="Submit" />
        </form>
        <br /><br /><br />
      <h1>Search Manufacturer</h1>
        <form action="admin/getManufacturer" method="GET">
          Search Company by Id :<input type="text" name="companyID" placeholder="Company ID" />
          <input type="submit" value="Search" />
        </form>

        <br><br><br><br>
      <h1>Register New Seller</h1>
      <form action="admin/setSeller" method="POST">
          Shop ID :<input type="text" name="sellerID" placeholder="Shop ID No." required />
          <br /><br />
          Shop Name :<input type="text" name="sellerName" placeholder="Shop Name" required />
          <br /><br />
          Email :<input type="email" name="email" placeholder="Email" required />
          <br /><br />
          Phone :<input type="text" name="phone" placeholder="Phone Number" required />
          <br /><br />
          Shop Address :<input type="text" name="sellerAddress" placeholder="Shop Address" required />
          <br /><br />
          State :<input type="text" name="state" placeholder="State" required />
          <br /><br />
          Place: <input type="text" name="place" placeholder="Place" required />
          <br /><br />
          PinCode :<input type="text" name="pincode" placeholder="Pin Code" required />
          <br /><br />
          Licence No :<input type="text" name="licenceNo" placeholder="Licence Number" required />
          <br /><br />
          <input type="submit" value="Submit" />
        </form>
        <br /><br /><br />
      <h1>Search Seller</h1>
        <form action="admin/getSeller" method="GET">
          Search Seller by Id :<input type="text" name="sellerID" placeholder="Company ID" />
          <input type="submit" value="Search" />
        </form>
        </center>
</body>
</html>
