<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set Raw Materials</title>
</head>
<body>
  <center>

  <h1>Set Raw Material Purchase Details</h1>
    <form action="rawdealer/setRawMaterial" method="POST">
        Batch No :<input type="number" name="batch" placeholder="Enter the Batch No." required />
        <br /><br />
        Material Id :<input type="number" name="materialID" placeholder="Enter The MaterialID" required />
        <br /><br />
        Material Name :<input type="text" name="materialName" placeholder="Material Name" required />
        <br /><br />
        Quantity :<input type="number" name="quantity" placeholder="Quantity" required />
        <br /><br />
        Number of products can be Made :<input type="number" name="numberOfProducts" placeholder="Number of products" required />
        <br /><br />
        Product Name :<input type="text" name="productName" placeholder="Product Name" required />
        <br /><br />
        Company Name :<input type="text" name="companyName" placeholder="Company Name" required />
        <br /><br />
        Expiary in months :<input type="number" name="validtill" placeholder="Expirary in Months" required />
        <br /><br />
        <input type="text" name="purchaseDate"  hidden />
        <br /><br />
        <input type="text" name="expirayDate"  hidden />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
      <br /><br /><br />
    <h1>Search Raw Material Purchase Details</h1>
      <form action="rawdealer/getRawMaterial" method="GET">
        Batch Id :<input type="number" name="batch" placeholder="Batch Number" />
        <input type="submit" value="Search" />
      </form>
    </center>
</body>
</html>

