<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users</title>
  </head>
  <body>
    <center>
      <h1>Search Products Details By Product ID</h1>
      <form action="users/productDetail" method="GET">
        <h3>Enter the Product ID :</h3>
       Product Id : <input type="number" name="productID" placeholder="Product ID" />
        <input type="submit" value="Search" />
      </form>
    </center>
  </body>
</html>
